<launch>
	<include file="$(find pimouse_ros)/launch/pimouse.launch" />
	<param name="lightsensors_enable" value="False" />

	<node pkg="web_video_server" name="web_video_server" type="web_video_server">
		<param name="port" value="10000" />
	</node>

	<node pkg="rosbag" type="play" name="player" output="screen" args="/home/ubuntu/bagfiles/2019-07-15-00-13-20.bag" required="true" />

	<node pkg="pimouse_vision_control" name="face_to_face" type="face_to_face.py" output="screen" />
	<rosparam command="load" file="$(find pimouse_vision_control)/vision_control.yaml" />
</launch>
