<launch>
	<include file="$(find pimouse_ros)/launch/pimouse.launch" />
	<param name="lightsensors_enable" value="False" />

	<include file="launch/cv_camera.launch" />
	
	<node pkg="pimouse_vision_control" name="face_to_face_offload" type="face_to_face_offload.py" output="screen" />
	<rosparam command="load" file="$(find pimouse_vision_control)/vision_control.yaml" />
</launch>
